<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249974292664-q0g67r6cds6ko1ss1mh2hrsklf44tm39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249974292664-q0g67r6cds6ko1ss1mh2hrsklf44tm39</string>
	<key>API_KEY</key>
	<string>AIzaSyC7446mD9P9yp1PyAp18eCAreQ7i22AN3c</string>
	<key>GCM_SENDER_ID</key>
	<string>249974292664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meChat</string>
	<key>PROJECT_ID</key>
	<string>me-chat-401e7</string>
	<key>STORAGE_BUCKET</key>
	<string>me-chat-401e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249974292664:ios:0e8d7139ff3e140ab6744d</string>
</dict>
</plist>